pymongo[srv]
motor
psutil
TgCrypto
pykeyboard
python-arq
requests
python-dotenv
regex
cachetools
uvloop
pytz
dateparser
EmojiCaptcha
captcha
pyrogram
pyyaml
Pillow
Cython
setuptools
psycopg2
