pymongo[srv]
motor
psutil
TgCrypto
pykeyboard
python-arq
requests
python-dotenv
regex!
cachetools
uvloop
pytz
dateparser
gpytranslate
EmojiCaptcha
captcha
googletrans
telegraph
pyrogram
pyyaml
Pillow
Cython
setuptools
psycopg2
